# Atom caches and data directories
/.apm/
/.node-gyp/
/blob-store/
/compile-cache/
/recovery/
/storage/

# Atom packages & libs for my config
/packages/
/node_modules/

# The config file; I've got everything in init.js
/config.cson
